* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
